body {
    font-family: 'Arial', sans-serif;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
}

.logo {
    width: 120px; 
    margin: 0;
    padding: 0;
}

.form-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(101, 234, 249);;
    text-align: center;
}

h2 {
    color: rgb(101, 234, 249);;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: rgb(101, 234, 249);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #00796b;
}


