/* reto2.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Estilos específicos para cada sección */
#section1 {
    background-color: whitesmoke;
    padding: 20px;
}

#section2 {
    background-color: whitesmoke;
    padding: 20px;
}

#section3 {
    background-color: whitesmoke;
    padding: 20px;
}

#section4 {
    background-color: whitesmoke;
    padding: 20px;
}

#section5 {
    background-color: whitesmoke;
    padding: 20px;
}

#section6 {
    background-color: whitesmoke;
    padding: 20px;
}

#section7 {
    background-color: whitesmoke;
    padding: 20px;
}

#section8 {
    background-color: whitesmoke;
    padding: 20px;
}

#section9 {
    background-color: whitesmoke;
    padding: 20px;
}

#section10 {
    background-color: whitesmoke;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
